body {
    /* background */   color:blue;
}

.list2{
    color: black;
}

.list4{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: floralwhite;
} 

#list-item23{
    color:darkblue
    
}
h1{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

/* apply styles to <header> */
header   {
    padding: 25px 500px;
    background-color:aqua;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
} 

footer{
    color:darkgreen;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
}
